@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* === font-family === */
  --title-font-family: "Bebas Neue", sans-serif;
  --general-font-family: "Montserrat", sans-serif;

  /* === font-size === */
  --general-font-size: 1.2rem;

  /* === font-weight === */
  --title-font-weight: 600;
  --general-font-weight: 400;

  /* === color === */
  --default-color: #ffffff;
  --default-background-color: #000000;
}

/* === ELEMENTOS APARECEM SUAVEMENTE === */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
/* -------------------------------------*/


body {
    background-color: var(--default-background-color);
    color: var(--default-color);
    line-height: 1.5;
    min-height: 100vh;
    width: 100%;
}

/* -----------------------
-- === CABEÇALHO === */
.cabecalho {
  padding: 2% 0% 0% 9%;
}

.cabecalho__links {
  display: flex;
  gap: 40px;
}

.cabecalho__links_link {
  color: var(--default-color);
  text-decoration: none;
  font-family: var(--title-font-family);
  font-size: 2.25rem;
  font-weight: var(--title-font-weight);
  transition: color 0.3s;
}

.cabecalho__links_link:hover {
  color: #c4c4c4;
}

.principal {
  padding: 3% 0%;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.conteudo__principal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.principal__mg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 33%;
}

.mg__subtitulo {
  font-family: var(--title-font-family);
  font-size: 2.3rem;
}

.projeto__mg__links,
.mg__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.projeto__mg__social-link,
.mg__social-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--default-color);
  font-family: var(--general-font-family);
  font-size: 1.5rem;
  font-weight: var(--title-font-weight);
  text-decoration: none;
  border: inset 3px var(--default-color);
  border-radius: 16px;
  padding: 14px;
  width: 100%;
  transition: background-color 0.3s;
}

.projeto__mg__social-link {
  text-align: center;
  font-size: var(--general-font-size);
  padding: 10px;
  width: 50%;
}

.projeto__mg__social-link:hover,
.mg__social-link:hover {
  background-color: #494949;
}

.mg__social-link__icon {
  width: 2.5rem;
}

.principal__projeto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.titulos__titulo {
  font-family: var(--title-font-family);
  font-size: 3.5rem;
}

.titulos__subtitulo {
  font-family: var(--general-font-family);
  font-size: 1.4rem;
  color: #dedede;
}

.projeto__descricao {
  font-family: var(--general-font-family);
  font-weight: var(--general-font-weight);
  font-size: var(--general-font-size);
}

.mg__imagem {
  width: 100%;
  border-radius: 50%;
}

.rodape {
  text-align: center;
  background-color: var(--default-color);
  color: var(--default-background-color);
  padding: 20px;
  margin-top: 5%;
  font-family: var(--general-font-family);
  font-size: var(--general-font-size);
  font-weight: var(--general-font-weight);
}

@media (max-width: 1200px) {
  .principal__mg {
    width: 42%;
  }
}

@media (max-width: 980px) {
  .cabecalho {
    padding: 2% 0% 0% 0%;
  }

  .cabecalho__links {
    justify-content: center;
  }
  
  .conteudo__principal {
    flex-direction: column;
    gap: 50px;
  }

 .principal__projeto {
  padding: 0% 5%;
  width: 100%;
 }
}

@media (max-width: 830px) {
  .principal__mg {
    width: 55%;
  }
}

@media (max-width: 588px) {
  .cabecalho__links {
    gap: 20px;
  }
  
  .principal__mg {
    width: 70%;
  }
}

@media (max-width: 440px) {
  .cabecalho__links {
    gap: 10px;
  }
  
  .cabecalho__links_link {
    font-size: 1.8rem;
  }

  .principal__mg {
    width: 90%;
  }

  .mg__subtitulo {
  font-size: 2rem;
}

.projeto__mg__social-link,
.mg__social-link {
  font-size: var(--general-font-size);
}

.projeto__mg__social-link {
  width: 80%;
}

.rodape {
  font-size: 1rem;
}
}