@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* === font-family === */
    --title-font-family: "Bebas Neue", sans-serif;

    /* === font-size === */
    --title-font-size: 3.5rem;
    --title-font-size-hover: 4rem;

    /* === font-weight === */
    --title-font-weight: 600;
    --general-font-weight: 400;

    /* === width === */
    --title-img-width: 6rem;

    /* === gap === */
    --title-gap: 10px;

    /* === color === */
    --default-color: #ffffff;

    /* === transition === */
    --default-transition: font-size 0.3s;
    --transition-img: width 0.4s, box-shadow 0.4s;

    /* === box-shadow === */
    --default-box-shadow: 0 0 10px 5px rgb(202, 202, 202);
}

body {
    background-color: #000000;
    color: var(--default-color);
    line-height: 1.5;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__links {
    display: flex;
    gap: 40px;
}

.cabecalho__links_link {
    text-decoration: none;
    color: var(--default-color);
    font-family: var(--title-font-family);
    font-size: 2.25rem;
    font-weight: var(--title-font-weight);
    transition: color 0.3s;
}

.cabecalho__links_link:hover {
    color: #c4c4c4;
}

.principal {
    padding: 5% 0%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.principal__conteudo {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 80px;
}

.principal__titulos {
    display: flex;
    flex-direction: column;
}

.principal__titulos__titulo_ceara {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--title-gap);
}

.principal__titulos__titulo_fortaleza {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--title-gap);
}

.principal__titulos__titulo_fortaleza__titulo {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: #9b111e;
    transition: var(--default-transition);
}

.principal__titulos__titulo_fortaleza__titulo:hover {
    font-size: var(--title-font-size-hover);
}

.texto__destaque__fortal {
    color: #054f77;
}

.principal__titulos_titulo_fortaleza__img {
    width: var(--title-img-width);
    border-radius: 50px;
}

.principal__titulo__imagem__vovo {
    width: var(--title-img-width);
}

.principal__titulo__vovo {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--default-color);
    transition: var(--default-transition);
}

.principal__titulo__vovo:hover {
    font-size: var(--title-font-size-hover);
}

.principal__conteudo__video__ceara {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.principal__conteudo__video_choro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.principal__conteudo__video__bye_fortaleza {
    width: 70%;
}

.principal__conteudo__video__ceara__vovo {
    width: 125%;
    transition: var(--transition-img);
}

.principal__conteudo__video__ceara__vovo:hover {
    width: 130%;
    box-shadow: var(--default-box-shadow);
}

.principal__imagem__conteudo__cn {
    width: 70%;
    transition: var(--transition-img);
}

.principal__imagem__conteudo__cn:hover {
    box-shadow: var(--default-box-shadow);
    width: 80%;
}

.principal__conteudo__video__ceara__titulo {
    font-family: var(--title-font-family);
    font-size: 3rem;
    font-weight: var(--general-font-weight);
    color: var(--default-color);
    transition: var(--default-transition);
}

.principal__conteudo__video__ceara__titulo:hover {
    font-size: var(--title-font-size);
}

.principal__conteudo__video__ceara__tabela {
    width: 100%;
    transition: var(--transition-img);
}

.principal__conteudo__video__ceara__tabela:hover {
    width: 110%;
    box-shadow: var(--default-box-shadow);
}

.principal__imagem__conteudo__derrota {
    width: 105%;
    transition: var(--transition-img);
}

.principal__imagem__conteudo__derrota:hover {
    box-shadow: var(--default-box-shadow);
    width: 115%;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--default-color);
    color: #000000;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: var(--general-font-weight);
}

@media (max-width: 1020px) {
    .principal__titulos__titulo_fortaleza__titulo {
        font-size: 2.5rem;
    }

    .principal__titulos__titulo_fortaleza__titulo:hover {
        font-size: 3rem;
    }

    .principal__titulo__vovo {
        font-size: 2.5rem;
    }

    .principal__titulo__vovo:hover {
        font-size: 3rem;
    }
}