@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* === font-family === */
    --title-font-family: "Bebas Neue", sans-serif;

    /* === font-size === */
    --title-font-size: 3.5rem;
    --title-font-size-hover: 4rem;

    /* === font-weight === */
    --title-font-weight: 600;
    --general-font-weight: 400;

    /* === width === */
    --title-img-width: 6rem;

    /* === gap === */
    --title-gap: 10px;

    /* === color === */
    --default-color: #ffffff;

    /* === transition === */
    --default-transition: font-size 0.3s;
    --transition-img: width 0.4s, box-shadow 0.4s;

    /* === box-shadow === */
    --default-box-shadow: 0 0 10px 5px rgb(202, 202, 202);
}

body {
    background-color: #000000;
    color: var(--default-color);
    line-height: 1.5;
}

/* -----------------------
-- === CABEÇALHO === */
.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__links {
    display: flex;
    gap: 40px;
}

.cabecalho__links_link {
    text-decoration: none;
    color: var(--default-color);
    font-family: var(--title-font-family);
    font-size: 2.25rem;
    font-weight: var(--title-font-weight);
    transition: color 0.3s;
}

.cabecalho__links_link:hover {
    color: #c4c4c4;
}

/* -----------------------
-- === MAIN === */
.principal {
    padding: 5% 0%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* -----------------------
-- === SEÇÃO DE TÍTULOS === */
.principal__titulos {
    display: flex;
    flex-direction: column;
}

/* -----------------------
-- === TÍTULO CEARÁ === */
.titulo__ceara {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--title-gap);
}

.titulo__ceara__img {
    width: var(--title-img-width);
}

.titulo__ceara__texto {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--default-color);
    transition: var(--default-transition);
}

.titulo__ceara__texto:hover {
    font-size: var(--title-font-size-hover);
}

/* -----------------------
-- === TÍTULO FORTALEZA === */
.titulo__fortaleza {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--title-gap);
}

.titulo__fortaleza__img {
    width: var(--title-img-width);
    border-radius: 50px;
}

.titulo__fortaleza__texto {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: #9b111e;
    transition: var(--default-transition);
}

.titulo__fortaleza__texto:hover {
    font-size: var(--title-font-size-hover);
}

.titulo__fortaleza__texto__destaque {
    color: #054f77;
}

/* -----------------------
-- === CONTEÚDO PRINCIPAL === */
.principal__conteudo {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 80px;
}

/* -----------------------
-- === PRINCIPAL-FORTALEZA === */
.principal__conteudo__fortaleza {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.principal__conteudo__fortaleza__video {
    width: 70%;
}

/* -----------------------
-- === PRINCIPAL-CEARÁ === */
.principal__conteudo__ceara {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.principal__conteudo__ceara__paulo,
.principal__conteudo__ceara__video {
    width: 125%;
    transition: var(--transition-img);
}

.principal__conteudo__ceara__paulo:hover,
.principal__conteudo__ceara__video:hover {
    width: 130%;
    box-shadow: var(--default-box-shadow);
}

.principal__conteudo__ceara__derrota {
    width: 105%;
    transition: var(--transition-img);
}

.principal__conteudo__ceara__derrota:hover {
    box-shadow: var(--default-box-shadow);
    width: 115%;
}

.principal__conteudo__ceara__cdn {
    width: 70%;
    transition: var(--transition-img);
}

.principal__conteudo__ceara__cdn:hover {
    box-shadow: var(--default-box-shadow);
    width: 80%;
}

.principal__conteudo__ceara__tabela__titulo {
    font-family: var(--title-font-family);
    font-size: 3rem;
    font-weight: var(--general-font-weight);
    color: var(--default-color);
    transition: var(--default-transition);
}

.principal__conteudo__ceara__tabela__titulo:hover {
    font-size: var(--title-font-size);
}

.principal__conteudo__ceara__tabela {
    width: 100%;
    transition: var(--transition-img);
}

.principal__conteudo__ceara__tabela:hover {
    width: 110%;
    box-shadow: var(--default-box-shadow);
}

/* -----------------------
-- === RODAPÉ === */
.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--default-color);
    color: #000000;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: var(--general-font-weight);
}
