@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* === font-family === */
    --title-font-family: "Bebas Neue", sans-serif;
    --general-font-family: "Montserrat", sans-serif;

    /* === font-size === */
    --title-font-size: 3.5rem;
    --general-font-size: 1.2rem;

    /* === font-weight === */
    --title-font-weight: 600;
    --general-font-weight: 400;

    /* === width === */
    --title-img-width: 5.5rem;

    /* === gap === */
    --title-gap: 10px;

    /* === color === */
    --default-color: #ffffff;

    /* === transition === */
    --default-transition: font-size 0.3s;
    --transition-img: width 0.4s, box-shadow 0.4s;

    /* === box-shadow === */
    --default-box-shadow: 0 0 10px 5px rgb(202, 202, 202);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

body {
    background-color: #000000;
    color: var(--default-color);
    line-height: 1.5;
}

/* -----------------------
-- === CABEÇALHO === */
.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__links {
    display: flex;
    gap: 40px;
}

.cabecalho__links_link {
    color: var(--default-color);
    text-decoration: none;
    font-family: var(--title-font-family);
    font-size: 2.25rem;
    font-weight: var(--title-font-weight);
    transition: color 0.3s;
}

.cabecalho__links_link:hover {
    color: #c4c4c4;
}

/* -----------------------
-- === MAIN === */
.principal {
    padding: 5% 0%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* -----------------------
-- === SEÇÃO DE TÍTULOS === */
.principal__titulos {
    display: flex;
    flex-direction: column;
}

/* -----------------------
-- === TÍTULO CEARÁ === */
.titulo__ceara {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--title-gap);
}

.titulo__ceara__img {
    width: var(--title-img-width);
}

.titulo__ceara__texto {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    transition: var(--default-transition);
}

/* -----------------------
-- === TÍTULO FORTALEZA === */
.titulo__fortaleza {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--title-gap);
}

.titulo__fortaleza__img {
    width: var(--title-img-width);
    border-radius: 50%;
}

.titulo__fortaleza__texto {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: #b21c2b;
    transition: var(--default-transition);
}

.titulo__fortaleza__texto__destaque {
    color: #1b81b7;
}

/* -----------------------
-- === PRINCIPAL-CONTEÚDO === */
.container-animation,
.principal__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.principal__conteudo__video {
    width: 65%;
    transition: var(--transition-img);
}


.principal__conteudo__video:hover {
    width: 67%;
    box-shadow: var(--default-box-shadow);
}

.principal__conteudo__paulo {
    width: 70%;
    transition: var(--transition-img);
}

.principal__conteudo__paulo:hover {
    width: 72%;
    box-shadow: var(--default-box-shadow);
}

/* -----------------------
-- === PRINCIPAL-FORTALEZA === */
.principal__conteudo__fortaleza {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.principal__conteudo__fortaleza__video {
    width: 22%;
}
/*------------------------------------*/

.principal__conteudo__derrota {
    width: 65%;
    transition: var(--transition-img);
}

.principal__conteudo__derrota:hover {
    box-shadow: var(--default-box-shadow);
    width: 67%;
}

.principal__conteudo__cdn {
    width: 100%;
    transition: var(--transition-img);
}

.principal__conteudo__cdn:hover {
    box-shadow: var(--default-box-shadow);
    width: 105%;
}

.principal__conteudo__titulo {
    font-family: var(--title-font-family);
    font-size: 3rem;
    font-weight: var(--general-font-weight);
    transition: var(--default-transition);
}

.principal__conteudo__titulo:hover {
    font-size: var(--title-font-size);
}

.principal__conteudo__tabela {
    width: 105%;
    transition: var(--transition-img);
}

.principal__conteudo__tabela:hover {
    width: 110%;
    box-shadow: var(--default-box-shadow);
}

.principal__conteudo__creditos {
    font-family: var(--general-font-family);
    font-size: var(--general-font-size);
    text-align: center;
}

/* -----------------------
-- === RODAPÉ === */
.rodape {
    text-align: center;
    background-color: var(--default-color);
    color: #000000;
    padding: 20px;
    font-family: var(--general-font-family);
    font-size: var(--general-font-size);
    font-weight: var(--general-font-weight);
}


@media (max-width: 1024px) {
    .titulo__ceara__img,
    .titulo__fortaleza__img {
        width: 5rem;
    }
    
    .titulo__ceara__texto,
    .titulo__fortaleza__texto {
        font-size: 3rem;
    }

    .principal__conteudo__fortaleza__video {
        width: 25%;
    }

    .principal__conteudo__video {
        width: 75%;
    }

    .principal__conteudo__video:hover {
        width: 77%;
    }

    .principal__conteudo__paulo {
        width: 80%;
    }
    
    .principal__conteudo__paulo:hover {
        width: 82%;
    }

    .principal__conteudo__derrota {
        width: 70%;
    }

    .principal__conteudo__derrota:hover {
        width: 72%;
    }

    .principal__conteudo__cdn {
        width: 85%;
    }

    .principal__conteudo__cdn:hover {
        width: 90%;
    }

    .principal__conteudo__titulo {
        font-size: 2.5rem;
    }

    .principal__conteudo__titulo:hover {
        font-size: 3rem;
    }

    .principal__conteudo__tabela {
        width: 95%;
    }

    .principal__conteudo__tabela:hover {
        width: 100%;
    }

    .principal__conteudo__creditos {
        font-size: 1rem;
    }
}

@media (max-width: 788px) {
    .cabecalho {
        padding: 2% 0% 0% 0%;
    }

    .cabecalho__links {
        justify-content: center;
    }
    
    .cabecalho__links_link {
        font-size: 1.8rem;
    }
    
    .principal__titulos {
        padding: 0% 3%;
    }

    .titulo__ceara {
        gap: 5px;
    }
    
    .titulo__ceara__img,
    .titulo__fortaleza__img {
        width: 4.5rem;
    }
    
    .titulo__ceara__texto,
    .titulo__fortaleza__texto {
        font-size: 2.5rem;
    }

    .principal__conteudo {
        gap: 40px;
    }
    
    .principal__conteudo__fortaleza {
        gap: 40px;
    }
    
    .principal__conteudo__fortaleza__video {
        width: 30%;
    }

    .principal__conteudo__video {
        width: 85%;
    }

    .principal__conteudo__paulo {
        width: 90%;
    }

    .principal__conteudo__derrota {
        width: 80%;
    }

    .principal__conteudo__cdn {
        width: 80%;
    }

    .principal__conteudo__titulo {
        font-size: 2.2rem;
    }

    .principal__conteudo__tabela {
        width: 95%;
    }

    .principal__conteudo__paulo,
    .principal__conteudo__video,
    .principal__conteudo__derrota,
    .principal__conteudo__cdn,
    .principal__conteudo__titulo,
    .principal__conteudo__tabela {
        pointer-events: none;
    }
}

@media (max-width: 688px) {
    .principal__conteudo__cdn {
        width: 65%;
    }

    .principal__conteudo__tabela {
        width: 83%;
    }

    .rodape {
        font-size: 1.1rem;
    }
}

@media (max-width: 530px) {
    .cabecalho__links_link {
        font-size: 1.5rem;
    }
    
    .titulo__ceara {
        gap: 3px;
    }
    
    .titulo__ceara__img,
    .titulo__fortaleza__img {
        width: 4rem;
    }
    
    .titulo__ceara__texto,
    .titulo__fortaleza__texto {
        font-size: 2rem;
    }

    .principal__conteudo {
        gap: 20px;
    }
    
    .principal__conteudo__fortaleza__video {
        width: 35%;
    }

    .principal__conteudo__video {
        width: 90%;
    }

    .principal__conteudo__paulo {
        width: 90%;
    }

    .principal__conteudo__derrota {
        width: 85%;
    }

    .principal__conteudo__cdn {
        width: 60%;
    }

    .principal__conteudo__titulo {
        font-size: 2rem;
    }

    .principal__conteudo__tabela {
        width: 85%;
    }

    .rodape {
        font-size: 1rem;
    }

    .principal__conteudo__creditos {
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    .titulo__ceara__img,
    .titulo__fortaleza__img {
        width: 3.8rem;
    }
    
    .titulo__ceara__texto,
    .titulo__fortaleza__texto {
        font-size: 1.8rem;
    }   
    
    .principal__conteudo__fortaleza {
        gap: 20px;
    }
    
    .principal__conteudo__fortaleza__video {
        width: 40%;
    }

    .principal__conteudo__video {
        width: 95%;
    }

    .principal__conteudo__paulo {
        width: 95%;
    }

    .principal__conteudo__derrota {
        width: 92%;
    }

    .principal__conteudo__cdn {
        width: 68%;
    }

    .principal__conteudo__titulo {
        font-size: 1.8rem;
    }

    .principal__conteudo__tabela {
        width: 92%;
    }
}